{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Mountain Hiking">
            <div class="post__content">
                <h3>Mountain Hiking</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quis placeat voluptatum nulla ducimus, nemo officiis maxime minus,
                    blanditiis est, eos beatae reprehenderit perspiciatis aliquam excepturi
                    facilis esse consequuntur modi accusamus.
                </p>
            </div>
        </a>
    </article>
</li>