{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    My Blog
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/alireza.jpg' %}" alt="Alireza - The Auther of This Blog">
            <h2>Alireza's Blog</h2>
        </header>
        <p>Hi! I'm Alireza and I love to blog about tech and and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% include 'blog/includes/post.html' %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>
            I love programming, I love to help others and I enjoy exploring new technologies in general!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore dicta officia magni tempora doloremque, eveniet quas eos enim necessitatibus sint perferendis,
            consectetur asperiores iure vero non nulla velit! Veritatis, enim.
        </p>
    </section>
{% endblock  %}