{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ post.title|title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post_details.css' %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title|title }}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"D d M Y" }}</time>
            </div>
        </article>
    </section>

    <main>
        <p>{{ post.content|linebreaks }}</p>
    </main>
{% endblock  %}